.avis, .questions {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.avis .item, .questions .item {
    margin: 20px 0;
    width: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.avis .item .item-header, .questions .item .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: var(--clr-primary);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.avis .item .not-rounded, .questions .item .not-rounded {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.questions .item .center {
    margin: auto;
}

.avis .item .item-title, .questions .item .item-title {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.avis .item .item-note  {
    font-size: 1.2em;
}

.avis .item .item-content, .questions .item .item-content {
    padding: 10px;
    font-size: 1.2em;
}

.page-selector .round {
    padding: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.title {
    color: white;
}

form {
    margin: 4em auto;
    width: 440px;
    border: 1px solid #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

form input, form textarea {
    font-size: 1.1em;
    padding: 5px 2px;
    margin: 0 0 1em;
    height: 30px;
}

form textarea {
    height: 125px;
}

form input:not([type="submit"]), form textarea {
    background: none;
    border: none;
    color: white;
    border-bottom: 2px solid var(--clr-primary);
    width: 400px;
}
form input[type="submit"]{
    border: none;
    color: white;
    background-color: var(--clr-primary);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 5px 15px;
    margin: 1em auto;
    display: block;
    transition: 200ms ease-in-out;
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
}

form input[type="submit"]:hover, form input[type="submit"]:focus {
    cursor: pointer;
    background-color: var(--clr-primary-dark);
    font-weight: bold;
}

form input::placeholder, form textarea::placeholder {
    color: var(--clr-primary);
}

form input:focus, form textarea:focus{
    outline: none;
    border-left: 2px solid var(--clr-primary);
    transition: .2s ease-in-out;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -ms-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
}

form select{
    font-size: 1.1rem;
    height: 30px;
    margin-bottom: .5em;
    background: none;
    border: 2px solid var(--clr-primary);
    padding: 2px 2px;
    border-radius: 5px; 
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

form .image {
    text-align: center;
}

form .title {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 10px;
}

@media only screen and (max-width: 600px) {
    .avis .item .item-header, .questions .item .item-header {
        text-align: center;
        display: block;
    }
}