.avis, .questions {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.avis .item, .questions .item {
    margin: 20px 0;
    width: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.avis .item .item-header, .questions .item .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: var(--clr-primary);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.avis .item .not-rounded, .questions .item .not-rounded {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.questions .item .center {
    margin: auto;
}

.avis .item .item-title, .questions .item .item-title {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.avis .item .item-note  {
    font-size: 1.2em;
}

.avis .item .item-content, .questions .item .item-content {
    padding: 10px;
    font-size: 1.2em;
}

.page-selector .round {
    padding: 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.form-container {
    margin: 4em auto 0;
    background-color: #fff;
    width: 400px;
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-container .title {
    font-size: 1.4em;
    padding: 10px;
    text-align: center;
    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
}

.form-container .form {
    padding: 30px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input, .form-control textarea {
    border: 2px solid #f0f0f0;
    display: block;
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form-control input:focus, .form-control textarea:focus {
    outline: none;
}

.form-control.success input, .form-control.success textarea {
    border-color: #2ecc71;
}

.form-control.error input, .form-control.error textarea {
    border-color: #e74c3c;
}

.form-control i {
    visibility: hidden;
    position: absolute;
    top: 15px;
    right: 10px;
}

.form-control.success i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
}

.form-control small {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
}

.form-control.error small {
    color: #e74c3c;
    visibility: visible;
}

.form-container .form button {
    background-color: blue;
    border: 2px solid blue;
    color: #fff;
    display: block;
    font-size: 1.2em;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.form button:hover {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .avis .item .item-header, .questions .item .item-header {
        text-align: center;
        display: block;
    }
}