.avis, .questions {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

.avis .item, .questions .item {
    margin: 20px 0;
    width: 400px;
    background-color: #f5f5f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.avis .item .item-header, .questions .item .item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background-color: var(--clr-primary);
    padding: 10px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.avis .item .not-rounded, .questions .item .not-rounded {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

.questions .item .center {
    margin: auto;
}

.avis .item .item-title, .questions .item .item-title {
    font-size: 1.5em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.avis .item .item-note  {
    font-size: 1.2em;
}

.avis .item .item-content, .questions .item .item-content {
    padding: 10px;
    font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
    .avis .item .item-header, .questions .item .item-header {
        text-align: center;
        display: block;
    }
}