.index {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.logo {
    background-color: transparent;
    width: 320px;
    height: 320px;
    perspective: 1000px;
    z-index: 5;
}

.logo-content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transition: transform 0.6s;
    -webkit-transition: transform 0.6s;
    -moz-transition: transform 0.6s;
    -ms-transition: transform 0.6s;
    -o-transition: transform 0.6s;
}

.logo:hover .logo-content {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
}

.logo-front, .logo-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.logo-front {
    color: black;
}

.logo-front img {
    border: 1px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo-back {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-primary);
    color: white;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.logo-back .socials {
    transform: scale(2);
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
}

.index-img-1 {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(0 0, 0 100vh, 100vw 0);
    -webkit-clip-path: polygon(0 0, 0 100vh, 100vw 0);
}
.index-img-2 {
    position: absolute;
    top: 0;
    left: 0;
    clip-path: polygon(100vw 100vh, 0 100vh, 100vw 0);
    -webkit-clip-path: polygon(100vw 100vh, 0 100vh, 100vw 0);
}
.index-img-1, .index-img-2 {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: .6;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.index-img-1:hover, .index-img-2:hover {
    opacity: 1;
}

.index-footer {
    position: absolute;
    left: 1%;
    bottom: 1%;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}

.index-footer a {
    color: #ffffff;
}

.index-footer:hover {
    transform: translate(0, -10px);
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
}